@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bungee+Shade&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bungee+Shade&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Roboto", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilo global para scrollbars em navegadores baseados no WebKit */
::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Cor da trilha */
}

::-webkit-scrollbar-thumb {
  background-color: #07bdbb; /* Cor do "polegar" (a parte que move) */
  border-radius: 4px; /* Arredondar as bordas */
  border: 2px solid #1a1a1a; /* Borda ao redor do polegar */
}

/* Estilo para navegadores Firefox */
* {
  scrollbar-width: thin; /* Espessura fina */
  scrollbar-color: #07bdbb #1a1a1a; /* Cor do polegar e da trilha */
}
